AlarmClockExtender/*
Crashes/*
Custom Music/*
Manual/*
ModifiedManuals/*
TP WEEKDAY SCORES/*
TP WHITELIST SCORES/*
TwitchPlaysShared/*
Modsettings/BombCreator-settings.txt
Modsettings/BossModules.json
Modsettings/CameraZoom-settings.txt
Modsettings/ChordQualities-settings.txt
Modsettings/ColorblindMode.json
Modsettings/EncryptedIndicators-settings.txt
Modsettings/EncryptedMorse-settings.txt
Modsettings/Factory-settings.txt
Modsettings/filibuster-settings.txt
Modsettings/LEGOMod-settings.txt
Modsettings/LogfileHotkey-settings.txt
Modsettings/ModeSettings.json
Modsettings/ModuleMazeConnections.txt
Modsettings/Monsplode-settings.txt
Modsettings/MouseUnlocker-settings.txt
Modsettings/MultipleWidgets-settings.txt
Modsettings/MusicRhythms-settings.txt
Modsettings/quizBuzz-settings.txt
Modsettings/RubiksCube-settings.txt
Modsettings/TranslatedModules-settings.txt
Modsettings/Twitch Plays-settings.txt
Modsettings/twofactor-settings.txt
Modsettings/VanillaRuleModifier-settings.txt
Modsettings/WorldSettings.json
ModSettings/SinkSettings.json
ModSettings/PacingExtender.json
ModSettings/MusicManager-settings.txt
ModSettings/InternationalSettings.json
Modsettings/TweakSettings.json
output_log.txt
modSettings.xml
modSelectorConfig.json
demoSettings.xml
ModProfiles/Defuser Practise.json
ModProfiles/Strike.json
ModProfiles/TP_Supported.json
ModProfiles/Practice.json
ModProfiles/NoBC.json
ModProfiles/NoAstro.json
ModProfiles/NoAccum.json
ModProfiles/NoAN.json
ModProfiles/NoAG.json
ModProfiles/No3DM.json
ModProfiles/Justin.json
ModProfiles/Everything.json
ModProfiles/Edit.json
ModProfiles/Defuser VETO.json
AuditLog.txt
best_times.xml
ModProfiles/Fav.json
ModProfiles/Nothing.json
ModProfiles/NoMistake.json
ModProfiles/NoBitwise.json
ModProfiles/NoBinPuz.json
ModProfiles/NoAlpha.json
ModProfiles/NoAlg.json
ModProfiles/NoAlc.json
ModProfiles/NoAdj.json
ModProfiles/No101.json
ModProfiles/DisableTP.json
ModProfiles/Work.json
ModProfiles/Vanilla.json
ModProfiles/NoBattle.json
ModProfiles/NoArith.json
ModProfiles/NoAna.json
ModProfiles/NoBases.json
ModProfiles/NoBar.json
ModProfiles/No3DT.json
ModProfiles/Shikaku.json
ModProfiles/ModuleShowcase.json
stats.xml
progression.xml
TwitchPlaysStats.json
TwitchPlaysLastClaimed.json
ModProfiles/NoBack.json
TwitchPlaysUsers.xml
modSettings.xml
modSelectorConfig.json
playerSettings.xml
records.xml